.git
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
*.egg-info
build
dist
ba-graph/third_party/build
ba-graph/third_party/build-*
ba-graph/test/build
ba-graph/test/build-*
python/benchmark
python/functions_d
RP-Report ZS.pdf
